/.vagrant
/software
/modules/easy_type
/modules/stdlib
/modules/timezone
/.librarian
/.tmp
.DS_Store
/modules/archive
/modules/dirtree
/modules/iib_install
/modules/iib_iconfig
/modules/iib_config
/modules/mq_config
/modules/mq_install
/modules/software/files
/modules/sysctl
/modules/limits
/modules/debconf
/modules/yum
/modules/apt
/modules/systemd
/modules/augeasproviders_sysctl
/modules/augeasproviders_core
/modules/ibm_profile
/modules/echo
/modules/firewalld
/modules/firewall
/puppet_version
/modules/concat
